<section id="footer-section">

  <span id="version-span"></span>

  <span>
    <a id="support-link" 
      href="https://x.com/realm_is" 
      target="_blank">X.COM</a>
  </span>

  <span>
    <a id="github-link" 
      href="https://github.com/metabuilder0/thesecondrealm" 
      target="_blank">GITHUB</a>
  </span>

  <span><a id="credits-link" href="#">CREDITS</a></span>

  <span>
    <a id="p2prights-link" href="https://p2prights.org/donate.html" target="_blank">SUPPORT P2P RIGHTS FUND</a>
  </span>

</section>

<script data-include-js="/pages/components/footer/footer.js"></script>
